<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<!--套件-->
<suite name="futurology">
    <!--测试集/模块-->
    <test name="register">
        <!--测试类-->
        <classes>
            <!--单个测试类定义-->
            <class name="auto.TestCase_v5"></class>

        </classes>
    </test>
</suite>